<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>我的博客</title>
        <script src="/static/js/jquery-1.9.1.js"></script>
        <script src="/static/js/bootstrap-3.3.7.js"></script>
        <link href="/static/css/bootstrap-3.3.7.css" rel="stylesheet" />
        <link href="/static/css/style.css" rel="stylesheet" />
    </head>
    <body>
        <div class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">代购小工具</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/"><i class="icon icon-lg icon-home"></i>主页</a></li>
                        <li><a href="/products">产品管理</a></li>
                        <li><a href="/logistics">物流信息</a></li>
                    </ul>
                </div>
            </div>
        </div> 
    </body>
    {{ content }}
</html>
